<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158306225-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-158306225-1', { 'optimize_id': 'GTM-WSR63JJ' });
  </script>


  <title><%= htmlWebpackPlugin.options.productName %></title>

  <meta charset="utf-8">
  <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <!-- Social tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="<%= htmlWebpackPlugin.options.webUrl %>" />
  <meta name="twitter:title" value="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="twitter:description" value="<%= htmlWebpackPlugin.options.description %>" />
  <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.imgUrl %>" />
  <meta name="twitter:url" value="<%= htmlWebpackPlugin.options.webUrl %>" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= htmlWebpackPlugin.options.webUrl %>" />
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.imgUrl %>" />

  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">


  <link rel="icon" type="image/png" href="statics/code.png">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P57CL6R" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>